  <div class="album py-5 bg-light" >
    <div class="container">
        <div class="row">
          <% @stocks.each do |stock| %>
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">                         
                    <p class="card-text"><div>商品名</div> <%= stock.item_name %></p>
                    <%= image_tag stock.image, class:"bd-placeholder-img card-img-top", width:"100%", height:"225", preserveAspectRatio:"xMidYMid slice" %>  
                    <p class="card-text"><div class='stock-info'>商品情報</div><%= stock.info %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn bg-light btn-outline-secondary">見る</button>
                        <button type="button" class="btn bg-light btn-outline-secondary">編集</button>
                      </div>
                      <p class="stock-quantity"><div>数量</div><%= stock.stock_quantity %></p>
                   </div>   
                </div>                        
            </div>  
          <% end %>
        </div>
    </div>
  </div>
